<div class="backdrop is-hidden">
  <div class="modal">
    <button class="button-close" type="button" data-modal-close>
      <svg class="button-close__icon" width="11px" height="11px">
        <use href="/src/images/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__img-wrapper">
      <img src="#" />
    </div>
    <div class="modal__info-wrapper">
      <h3 class="modal__title"></h3>
      <ul class="modal__ratio-info-list">
        <li class="modal__ratio-info">
          <span class="modal__ratio-name">Vote / Votes</span>
          <p class="modal__ratio-value" data-value="ratio"></p>
        </li>
        <li class="modal__ratio-info">
          <span class="modal__ratio-name">Popularity</span>
          <p class="modal__ratio-value" data-value="popularity"></p>
        </li>
        <li class="modal__ratio-info">
          <span class="modal__ratio-name">Original Title</span>
          <p class="modal__ratio-value" data-value="original-title"></p>
        </li>
        <li class="modal__ratio-info">
          <span class="modal__ratio-name">Genre</span>
          <p class="modal__ratio-value" data-value="genre"></p>
        </li>
      </ul>
      <p class="modal__full-info"></p>
      <button class="modal__button" type="button" data-value="watched">
        Add to watched
      </button>
      <button class="modal__button" type="button" data-value="queue">
        Add to queue
      </button>
    </div>
  </div>
</div>
