.footer {
  padding: 30px 0;
  background-color: map-get($colorPool, 'gray-light');
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  color: map-get($colorPool, 'text');
  @include fonts(14px, 16px, 400);

  @include mq(tablet) {
    @include fonts(16px, 18px);
  }
}

.footer__item {
  position: relative;

  &:not(:last-child)::after {
    content: '';

    position: absolute;

    bottom: 0;
    right: -5px;

    background-color: map-get($colorPool, 'text');
    width: 0.5px;
    height: 100%;
  }
}
